body {
    font-family: "Verdana", serif;
    font-size: 10pt;
    height:100%;
    background-color: #320;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #000,  #222); /* for firefox 3.6+ */
    background-repeat: repeat-x;
}

#content, #adsDiv {
    /*border: 1px solid #DDC;*/
    border-radius: 15px;
    padding-left: 4em;
    padding-right:4em;
    padding-bottom: 2em;
    margin-top:1em;
}

#content {
    float:left;
}

#adsDiv {
    width: 150px !important;
    float:right;
}

#adsDiv * {
    float:right;
}

#errorsDiv {
    color: red;
}

h2 {
    font-size: 13pt;
    font-family: Verdana,serif;
}

#content {
    min-width: 600px;
    width: 60%;
}

#content, #adsDiv {
    /*background-image: url("../res/img/grass-background-blurry.jpg");
    */
    background-color: #fff;
    background-color:rgba(255, 255, 255, 0.8);
    /* center it */
    margin-left:auto;
    margin-right:auto;
}


#logoDiv, #adsDiv {
    color: #482700;
}
#logoDiv {
    font-size: 70pt;
    width: 600px;
    font-family: Impact,Georgia,serif;
    text-align:center;
    padding-left: -2em;
}

#description {
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 2em;
    font-style: italic;
}



/* ---------- input ------------- */
#homeAddressDiv {
    padding-top: 2em;
    padding-bottom: 2em;
}
#homeAddressInp {
    width: 25em;
}

.allDestinations {
    width: 45em;
    padding-bottom: 1em;
}
.address input {
    width: 25em;
}
.note input {
    width: 20em;
}
.note {
    float: right;
}
/* ------------------------------ */


/* ----------- results ---------- */
.mapLink {
    color: green;
}
/* ------------------------------ */


/* ----------- buttons ---------- */
#buttonsHolder{
}
#addDestButton {
}
#solveButton {
}
.removeButton {
    width:8em !important;
}
/* ------------------------------ */
