body {
    font-family: "Verdana", serif;
    font-size: 10pt;
    height:100%;
    background-color: #222222;
}

#content, #adsDiv {
    /*border: 1px solid #DDC;*/
    border-radius: 15px;
    padding-left: 4em;
    padding-right:4em;
    padding-bottom: 2em;
    margin-top:1em;
}

#content {
    float:left;
}

#adsDiv {
    width: 150px !important;
    float:right;
}

#adsDiv * {
    float:right;
}

#errorsDiv {
    color: red;
}

h2 {
    font-size: 13pt;
    font-family: Verdana,serif;
}

#content {
    min-width: 600px;
    width: 60%;
    color: #8F8;
}

#content input {
    background-color: #222;
    border-color: #000;
    color: #BFB;
}

#content #modeSelectDiv {
    padding-left:3em;
}

#content, #adsDiv {
    /*background-image: url("../res/img/grass-background-blurry.jpg");
    */
    background-color: #333;
    /* center it */
    margin-left:auto;
    margin-right:auto;
}


#logoDiv, #adsDiv {
    color: #FFF;
}
#logoDiv {
    font-size: 70pt;
    width: 600px;
    font-family: Impact,Georgia,serif;
    text-align:center;
    padding-left: -2em;
}
#logoDiv #subtitle {
    color: #DDD;
    font-size: 20pt;
}

#description {
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 2em;
    /*font-style: italic;*/
    color:#DDD;
}



/* ---------- input ------------- */
#homeAddressDiv {
    padding-top: 2em;
    padding-bottom: 2em;
}
#homeAddressInp {
    width: 25em;
}

.allDestinations {
    width: 45em;
    padding-bottom: 1em;
}
.address input {
    width: 25em;
}
.note input {
    width: 20em;
}
.note {
    float: right;
}
/* ------------------------------ */


/* ----------- results ---------- */
.mapLink {
    color: #F66;
}
/* ------------------------------ */


/* ----------- buttons ---------- */
#buttonsHolder{
}
#addDestButton {
}
#solveButton {
}
.removeButton {
    width:8em !important;
}
/* ------------------------------ */
